body{
  margin: 0;
  padding: 0;
}
.main{
  background: url(https://million-wallpapers.ru/wallpapers/1/65/15650858132982218467.jpg) no-repeat center top #D2691E fixed ;
  padding: 5%;
  
}
.block{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  border: 4px groove #D2691E;
  padding: 45px;
}
div{
  display: block;
}
.text { 
  text-align:  center;  /* главный заголовок */
 }
.text-1{
  margin-right: 25%;
  margin: 5px 5px 5px 5px;
}
.right-pic {
  float: right ;
  /* margin-top: 10%; */
  margin: 2px 4px -10px 10px; /* Отступы вокруг фотографии */
 }
 /*................block.....................*/

#title{
  text-align: center;
  font-size: 1.8em;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  
  margin: 0px 0px 5px 0px;
} 
.block-2{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  border: 4px groove #D2691E;
  position: fixed;
  margin-top: 5px;
  right: 14%;

}

/* ..............block...................... */
.block-3{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  border: 4px groove #D2691E;
  margin: 5px 0px 0px 0px;
  margin-right: 23%;
  width: 78%;
}
.block-4{
  padding: 5px;
 
}
/* ..........color.......................... */
.head-1{
  color: #6B8E23;
}
.head-2{
  color: #5F9EA0;
}
.head-3{
  color: #8B4513;
}
.head-4{
  color: #A52A2A;
}
.head-5{
  color: #DC143C;
}



.cursive{
  font-style: italic;
}

.back-off{
   
  margin-right: 10%; 
 }
.pointed{
  text-decoration: underline;
 }
.pointed-1{
  text-decoration: line-through;
 }
.fat{
  font-weight: bold;
 }
.icon{
  position: fixed;
  margin-top: -2%;
  /* margin-left: 70%; */
 }
 *{
  box-sizing: border-box;
 }
 