body{
  background: url(https://cdn.oboi7.com/content/images/7b/36/7b36dc34a2946ab466fee09285678723aee46709.jpg) no-repeat center top #D2691E ; 
 
}
.block{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  border: 4px groove #D2691E;
}
.text { 
  text-align:  center;  /* главный заголовок */
 }
.text1{
  margin-right: 25%;
  margin: 5px 5px 5px 5px;
}
.rightpic {
  float: right;
  margin: 0 10px 10px 10px; /* Отступы вокруг фотографии */
 }
 /*................block.....................*/

#title{
  text-align: center;
  font-size: 1.8em;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  border: 4px groove #D2691E;
  margin: 0px 0px 5px 0px;
} 
.block2{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  border: 4px groove #D2691E;
  margin: 5px 5px 5px 5px;
  margin-right: 70%;
  position: fixed;
  margin-top: -200px;

}

/* ..............block...................... */
.block3{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLqlpV6e2V8ITxUVQPU5rTEBRqVTqrT1xrREAxQeZ4CZNq8rWZ&s);
  border: 4px groove #D2691E;
  margin: 5px 5px 5px 5px;
  margin-left: 30%;
}
.block4{
  margin: 5px 5px 5px 5px;
}
/* ..........color.......................... */
.color1{
  color: #6B8E23;
}
.color2{
  color: #5F9EA0;
}
.color3{
  color: #8B4513;
}
.color4{
  color: #A52A2A;
}
.color5{
  color: #DC143C;
}



.cursive{
  font-style: italic;
}

.back_off{
  margin-left: 10%; 
  margin-right: 10%; 
 }
.pointed{
  text-decoration: underline;
 }
.pointed1{
  text-decoration: line-through;
 }
.fat{
  font-weight: bold;
 }
.icon{
  margin-left: 94%;
  position: fixed;
  bottom: 5%;
 }
 